* {
    font-family: "JetbrainsMono Nerd Font";
    font-size: 17px;
    border: none;
}

/* --- LAYOUT & POSITIONING --- */
window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

.modules-left, .modules-center, .modules-right {
    min-height: 32px;
    margin-top: 10px;
}

.modules-left {
    margin-left: 16px; /* 16px + 4px from first module = 20px */
}

.modules-right {
    margin-right: 20px; /* 20px + 4px from last module - 4px from left = 20px */
}

@keyframes blink {
    to {
        background-color: #BF616A;
        color: #B5E8E0;
    }
}

/* --- WORKSPACES --- */
#workspaces {
    border-radius: 10px;
    background: #161320;
}

#workspaces button {
    color: #B5E8E0;
    background: transparent;
    border-radius: 2px;
    border: 2px solid transparent;
}

#workspaces button.occupied {
    color: #F28FAD;
    background: transparent;
    border: 2px solid transparent;
}

#workspaces button.active {
    color: #ABE9B3;
    border-color: #ABE9B3;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: #FAE3B0;
    border-color: #E8A2AF;
}

#workspaces button.active:hover {
    color: #E8A2AF;
}

/* --- MODULES BASE STYLING --- */
#network, #temperature, #backlight, #clock,
#memory, #cpu, #tray, #pulseaudio, #battery,
#custom-power, #custom-media, #custom-cava-left,
#custom-cava-right {
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    color: #161320;
}

/* --- MODULE SPECIFIC COLORS & EXCEPTIONS --- */
#temperature  { background: #ABE9B3; }
#network      { background: #bd93f9; }
#backlight    { background: #F8BD96; }
#clock        { background: #ABE9B3; }
#memory       { background: #DDB6F2; }
#cpu          { background: #96CDFB; }
#battery      { background: #B5E8E0; }
#custom-power { background: #F28FAD; }
#pulseaudio   { background: #FAE3B0; }
#tray         { background: #121138; }

#custom-media {
    background: #e14747;
    min-width: 500px;
}

#custom-cava-left, #custom-cava-right {
    background: #121138;
    color: unset; /* Ensures the visualizer colors render correctly */
}

/* --- BATTERY ANIMATIONS --- */
#battery.charging, #battery.plugged {
    color: #161320;
    background-color: #B5E8E0;
}

#battery.critical:not(.charging) {
    background-color: #B5E8E0;
    color: #161320;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
