# See https://wiki.hyprland.org/Configuring/Monitors/

{{- if .is_laptop }}

# Work Monitors
monitor = desc:HP Inc. HP E27 G5 CNC43529GK, 1920x1080@74.97Hz, 0x0, 1
monitor = desc:HP Inc. HP E27 G5 CNC43529GS, 1920x1080@74.97Hz, 1920x0, 1
monitor = desc:HP Inc. HP E27 G5 CNC4352B36, 1920x1080@74.97Hz, 3840x-520, 1, transform, 3 #270 degrees

# Laptop Monitor
source = ~/.config/hypr/edp_state.conf

# Home Basement Monitors
monitor = desc:Lenovo Group Limited LEN T24i-20 VNA6C15H, 1920x1080@60.00Hz, 1920x-720, 1

# Home Room Monitors
monitor = desc:Lenovo Group Limited LEN T24i-20 VNA6C0XN, 1920x1080@60.00Hz, -1920x-720, 1
{{- else }}
# Desktop Monitor
monitorv2 {
  output = desc:LG Electronics LG ULTRAGEAR 509NTDVM2162
  mode = 2560x1440@239.97Hz
  position = 0x0
  scale = 1
#  bitdepth = 10
#  cm = hdr
#  sdr_min_luminance = 0.005 
#  sdr_max_luminance = 250
}
{{- end }}

# Fallback for unknown monitors
monitor=,preferred,auto,1
