# Setup base workspaces and execute apps at launch:

{{- if .is_laptop }}
workspace = 1, name:hello, monitor:eDP-1, default:true
exec-once = [workspace 1 silent] kitty

workspace = 2, name:browser, monitor:desc:HP Inc. HP E27 G5 CNC43529GS, default:true
exec-once = [workspace 2 silent] zen-browser

workspace = 3, name:coding, monitor:desc:HP Inc. HP E27 G5 CNC43529GS
exec-once = [workspace 3 silent] /usr/bin/codium --profile Developer /home/cybervitor/Projects/CSTAF/CSTAF.code-workspace

#workspace = 4, name:markdown, monitor:desc:HP Inc. HP E27 G5 CNC43529GS
#exec-once = [workspace 4 silent] /usr/bin/codium --profile Markdown

workspace = 9, name:logs, monitor:desc:HP Inc. HP E27 G5 CNC4352B36, default:true
exec-once = [workspace 9 silent] kitty

exec-once = [workspace special:magic silent] ferdium
{{- else }}
workspace = 1, name:hello, monitor:DP-1, default:true
exec-once = [workspace 1 silent] zen-browser
{{- end }}
